h1 {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    font-weight: 100;
    margin: 0;

}
img {
    width: 25%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 10px;
    /* margin-top: 50px; */
    margin-left: 50px;
    display: flex;

} 
.inline-block li {
    display: inline;
    width: 100%;
    color: #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
 
}
.nav {
    width: 100%;
}
.pageBranding {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.collapse {
    justify-content: space-around;
}
.navigation, .footer {
    background-color: #010326;
    width: 100%;
    opacity: 0.9;
}
.navigation {
    display: flex;
    flex-direction: space-between;
    
}

.navbar {
    margin-left: 0 !important;
}
body {
    background-color: #BFB6AE;
    /* background-image: url(../images/chris-barbalis-uZAuwQJJ-4s-unsplash.jpg); */
}
p {
    display: flex;
    font-size: larger;
}
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

.display-4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    
}

.jumbotron {
    background-color: #BFB6AE;
    background-image: ;
    
}

.display-4 {
    display: grid;
    /* grid-template-columns: auto 50px 10% 2fr 1fr; */
    /* grid-template-columns: 1fr 100px 2fr; */
    justify-content: center;

}
.lead {
    display: grid;
    justify-content: center;
}

.navbar-nav { 
    display: flex;
}

p {
    display: grid;
    justify-content: center;  
}

btn btn-dark btn-lg {
    display: flex;
    justify-content: center;
}
.skillsHeader {
    text-align: center;

}
.skillsContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillsCard {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.skillsImage {
    width: 100px;
    max-height: 100px;
    border-radius: 50%;
}
h2 {
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-weight: 100;
    margin: 0;
    display: grid;
    justify-content: center;
}
.workHeader h1 {
    color: #000;
    margin: 0;
    display: grid;
    justify-content: center;
}
.workCardText button {
    margin: auto;
    display: grid;
    justify-content: center;
}
.skillsWrapper {
    margin-top: 100px;
}
.workWrapper {
    margin-top: 100px;
}
.skillsWrapper h1 {
    color: #000;
}
.footer .inline-block {
    height: 50px;
    margin-top: 50px;
    justify-content: center;
}
/* @media only screen and (max-width: 600){ */
    
}
/* workContent will get flex-direction: column and each work card won't need it will have to poay with percentages of images view all projects button is exactly same as header excep text inside */