h1 {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    font-weight: 100;
    margin-left: 350px;
    margin-bottom: 0px;

}
img {
    width: 25%;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;

} 
.inline-block li {
    display: inline;
    width: 100%;
    color: #FFFFFF;
    margin-left: 50px;
    margin-right: 50px;
    
 
}
.nav {
    width: 100%;
}
.navigation, .footer {
    background-color: #010326;
    width: 100%;
    opacity: 0.9;
}
.navigation {
    display: flex;
    flex-direction: space-between;
    
}
body {
    background-color: #BFB6AE;
}
p {
    display: flex;
    font-size: larger;
}
ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}